# IntelliJ / Eclipse
*.iml
.idea/
*.classpath
*.project
*.swp
*~


# Target / Build
**/target/
**/build/

# Spring Boot config
**/application.yml
**/application-*.yml
application.yml
application-local.yml
**/application.yaml
**/application-*.yaml
application.yaml
application-local.yaml
.env
!.env.example
secrets/


# Logs
*.log

# OS
.DS_Store
Thumbs.db
